<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icons/icon.jpg' %}">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <title>Jobportal-Demo</title>
</head>
<body>
    <div>
        <h1 class="shadow1">Welcome to JobPortal!!</h1>
        <br>
        <p class="shadow1">All IT Job vacancies are found here......</p>
        <br>
        <a href="hydjobs/" class="button">Hyderabad Jobs</a>
        <a href="bngjobs/" class="button">Bangalore Jobs</a>
        <a href="punejobs/" class="button">Pune Jobs</a>
    </div>
</body>
</html>